{% extends 'ProjectSiteBundle::base.html.twig' %}
{% block title %}{{country.name}} - Moorooso{% endblock%}

{% block body %}
{{country.name}}
{{country.description}}
<img src="{{ asset(['images/country/', country.image]|join) }}" />

    <table>
        <thead>
            <tr>
                <th>Название города</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for city in country.cities %}
                <tr>
                    <td>{{city.name}}</td>
                    <td><a href="/moorooso/city/{{city.id}}">Узнать больше</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <table>
        <thead>
            <tr>
                <th>Название достопримечательности</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
           {% for city in country.cities %}
                {% for sight in city.sights %}
                    <tr>
                        <td>{{sight.name}}</td>
                        <td><a href="/moorooso/sight/{{sight.id}}">Узнать больше</a></td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
{% endblock%}
