{% extends 'ProjectSiteBundle::base.html.twig' %}
{% block title %}{{country.name}} - Moorooso{% endblock%}

{% block body %}
 <div class="table_country">
    <div class="image" align= "center">
     <h2>{{country.name}}</h2>
     {% if is_granted('ROLE_ADMINISTRATOR') %}
     <p><a href="/moorooso/administrator/country/edit/{{country.id}}" class="button">Изменить</a>
<a href="/moorooso/administrator/country/delete/{{country.id}}"  class="button">Удалить</a></p>
   {% endif %}
    <img src="{{ asset(['images/country/', country.image]|join) }}" height="100"/>
    <p>{{country.shortdescription}}</p>
    <p>{{country.description}}</p>
     </div>
{% if not country.cities is empty %}
   <h2>Города</h2>
    <table>
        <thead>
            <tr>
                <th>Название города</th>
                <th>Краткое описание города</th>
                <th>Изображение города</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for city in country.cities %}
                <tr>
                    <td>{{city.name}}</td>
                    <td>{{city.shortdescription}}</td>
                    <td><img src="{{ asset(['images/city/', city.image]|join) }}" /></td>
                    <td><a href="/moorooso/city/{{city.id}}" class="button">Узнать больше</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if country.Sights %}
       <h2>Достопримечательности</h2>
        <table>
            <thead>
                <tr>
                    <th>Название достопримечательности</th>
                    <th>Краткое описание достопримечательности</th>
                    <th>Изображение достопримечательности</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
               {% for city in country.cities %}
                   {% for sight in city.sights %}
                       <tr>
                            <td>{{sight.name}}</td>
                            <td>{{sight.shortdescription}}</td>
                            <td><img src="{{ asset(['images/sight/', sight.image]|join) }}" /></td>
                            <td><a href="/moorooso/sight/{{sight.id}}" class="button">Узнать больше</a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endif %}
</div>
{% endblock%}
